[build]
  command = "npm --prefix frontend run build"
  publish = "frontend/dist"
  functions = "backend"

[dev]
  command = "npm --prefix frontend run dev"
  port = 8888
  targetPort = 3000

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200

[[redirects]]
  from = "/api"
  to = "/.netlify/functions/api"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
